<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
