<form class="signup" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <button type="submit" name="button">Signup</button>
</form>
